
/* Projects section styles */
#projects {
    background-color: #FF6F61; 
    padding: 4rem 2rem;
    color: #fff; 
  }
  
  .project-list {
    list-style-type: none; 
    padding: 0;
  }
  
  .project-item {
    margin-bottom: 1rem; 
    padding: 1rem;
    border: 1px solid #fff;
    border-radius: 5px; 
    background-color: rgba(255, 255, 255, 0.1); 
    display: flex;
    justify-content: space-between; 
    align-items: center; 
  }
  
  .project-name {
    font-size: 1.5rem; 
  }
  
  .project-description {
    font-size: 1rem; 
  }
  
  button.edit-button {
    background-color: #FFA500; /* Orange background for edit button */
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    margin-left: 1rem; /* Space between buttons */
  }
  

  
  button.edit-button:hover {
    background-color: #FF8C00; /* Darker orange on hover */
  }
  

  button.delete-button {
    background-color: #ff4d4d; 
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }
  
  button.delete-button:hover {
    background-color: #ff1a1a; 
  }
  
  #project-form {
    margin-bottom: 2rem; 
  }
  
  #project-form input {
    margin-right: 1rem; 
    padding: 0.5rem;
  } 
  


 