/* Skills section styles */
#skills {
    background-color: #13cbb9; /* Turquoise */
    padding: 4rem 2rem;
    color: #ffffff; /* White text for contrast */
}

#skill-form {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

#skill-form input {
    padding: 10px;
    margin-right: 1rem;
    border: 2px solid #fff;
    border-radius: 5px;
    font-size: 1rem;
}

.add-button {
    background-color: #4CAF50; /* Green background */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

.skill-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skill-item {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px 20px;
    margin: 0.5rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.skill-name {
    margin-right: 1rem;
    color: black;
}

.delete-button {
    background-color: #ff4d4d; /* Red for delete button */
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}
